<div class="tabs align-center -mt-14 flex content-center justify-center w-full align-middle">
	<div class="z-40 rounded grid w-[40rem] grid-cols-2 space-x-2 divide-x text-white divide-slate-700 bg-transparent p-2">
		<div>
			<a routerLink="./" routerLinkActive="active" ariaCurrentWhenActive="page">
				<input type="radio" name="option" id="1" class="peer hidden" checked />
				<span
					class="bg-amber-600 group-hover:h-full opacity-90 absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0"></span>
				<label for="1"
					class=" hover:shadow-xl hover:bg-zinc-800 border-b-[1px] first-letter:inset-full block p-2 font-serif text-center rounded text-gray-400 hover:text-white  cursor-pointer select-none border-gray-600 hover:text-amber-400 uppercase">
					List Entry</label>
			</a>
		</div>

		<div *ngIf="loaded === true">
			<a routerLink="./edit" routerLinkActive="active" ariaCurrentWhenActive="page">
				<input type="radio" name="option" id="2" class="peer hidden" />
				<span
					class="text-amber-400 hover:bg-zinc-800 group-hover:h-full opacity-90 absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0"></span>
				<label for="2"
					class=" hover:shadow-xl md: max-w-100 hover:bg-zinc-800 border-b-[1px] first-letter:inset-full block p-2 font-serif text-center rounded text-gray-400 hover:text-white  cursor-pointer select-none border-gray-600 hover:text-amber-400 uppercase">
					Edit 
				 </label>
			</a>
		</div>
	</div>
</div>
<div class="router w-full h-full mt-10">
	<router-outlet></router-outlet>
</div>